    <%- include("header")%>
    <div class="box" id="heading">
        <h1> <%= listTitle%> </h1>
    </div>
    <div class="box">
        <%listItem.forEach(function(item){%>
        <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                <input type="hidden" name="listTitle" value="<%=listTitle%>">
                <p><%= item.task;%></p>
            </div>
        </form>
        <%})%>


        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" id="#" placeholder="Enter the list item">
            <button type="submit" name="submit" value="<%=listTitle%>">+</button>
        </form>
    </div>
    <%- include("footer")%>